div{

flex-direction: row;
}

.header{
    background-color: #3b5998 ;
}

h1{
    color: white;
    font-size: 50px;
}

#presentation{
    margin-right: 30%;
    font-size: 20px;
}

.headerBlock{
    display: inline-block;
    width:30%;
    margin-left: auto;
    
    
}

img{
    margin-left: 10%;
    border-radius: 100px;
    margin-bottom: 5%;
}
ul{
    font-size: 20px;
    
}
a{
    text-decoration: none;
    color: white;
}

#mail{
    list-style-image : url("../images/nouvelle-enveloppe-de-courrier-electronique.png");
    color: white;

}

#adresse{
    list-style-image : url("../images/accueil.png");
    color: white;

}
#annif{
    list-style-image : url("../images/cake.png");
    color: white;

}
#permis{
    list-style-image : url("../images/voiture-ecologique.png");
    color: white;

}
#tel{
    list-style-image : url("../images/telephone-intelligent.png");
    color: white;

}

/*body du cv*/

.corps{
    display: inline-block;
    margin: 5%;
    width: 33%;
}

body{
   
    width: auto;
}

h2{
    color: violet;
}

.reseaux{
    color: blue;
}

#reseauxSociaux1{
    color: blue;
    list-style-image : url("../images/logo-git.png");
}

#reseauxSociaux2{
    
    list-style-image : url("../images/linkedin.png");
}